    <!-- Profile -->






    <p></p>

    <div class="w3-card w3-round w3-white">
      <div class="w3-container">
       <h4 class="w3-center">Roberto Salerno</h4>


       <p class="w3-center"><img src="assets/roberto.png" class="w3-circle" style="height:150px;width:150px;transform: rotate(270deg)" alt="Kopf"></p>
       <hr>
       <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Putzfrau, UI</p>
       <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Bonaduz, CH</p>
       <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> August 4, 1984</p>

    




      </div>
    </div>
    <br>


